In [1]:
# 001 
#화면에 Hello World 문자열을 출력하세요.

print('Hello World')

Hello World

In [2]:
# 002 
#화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

print("Mary's cosmetics")

Mary's cosmetics

In [4]:
# 003 
#화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.) 
# 신씨가 소리질렀다. "도둑이야".

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [5]:
# 004 
#화면에 C:\Windows를 출력하세요.

print('C:\Windows')

C:\Windows

In [ ]:
# 005 
#다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
# print("안녕하세요.\n만나서\t\t반갑습니다.")

# /t = tab       /n = 줄바꿈

In [7]:
# 006 
#print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
#print ("오늘은", "일요일")

# 오늘은 일요일 출력

In [10]:
# 007 
# print() 함수를 사용하여 다음과 같이 출력하세요.
# naver;kakao;sk;samsung

print('naver;kakao;sk;samsung;')

naver;kakao;sk;samsung;

In [13]:
# 008 
# print() 함수를 사용하여 다음과 같이 출력하세요.

# naver/kakao/sk/samsung

print('naver', 'kakao', 'samsung', sep='/')

naver/kakao/samsung

In [14]:
# 009 
# 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

# print("first");print("second")

print('first', end=''); print('second')

firstsecond

In [15]:
# 010 
# 5/3의 결과를 화면에 출력하세요.

print (5/3)

1.6666666666666667

In [18]:
# 011 
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [19]:
# 012
# 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [20]:
# 013
# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
# s = "hello"
# t = "python"

s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [21]:
# 014 
# 아래 코드의 실행 결과를 예상해보세요.
# 2 + 2 * 3 

2+2*3

8

In [22]:
# 015
# type() 함수는 데이터 타입을 판별합니다. 
# a = "132"

a = "132"
print(type(a))

<class 'str'>

In [26]:
# 016
# 문자열 '720'를 정수형으로 변환해보세요.

a = str(720)  
b = int(a)
b

720

In [25]:
# 017
# 정수 100을 문자열 '100'으로 변환해보세요.

a= int(100)
b = str(a)
b

'100'

In [27]:
# 018
# 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

a = str(15.79)
b = float(a)
b

15.79

In [28]:
# 019
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = str(2024)
a = int(year)
a-3, a-2, a-1

(2021, 2022, 2023)

In [30]:
# 020
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

price = 48584
month = 36
price*month

1749024

In [31]:
# 021 
# 문자열 인덱싱
# letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

a = 'python'
print(a[0], a[2])

p t

In [32]:
# 022 
# 문자열 슬라이싱
# 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요. "24가 2210"

a = "24가 2210"
print(a[-4:])

2210

In [33]:
# 023 
# 아래의 문자열에서 '홀' 만 출력하세요.
# string = "홀짝홀짝홀짝"

string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [34]:
# 024
# 문자열을 거꾸로 뒤집어 출력하세요.
# string = "PYTHON"

string = "PYTHON"
print(string[::-1])

NOHTYP

In [35]:
# 025
# 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
# phone_number = "010-1111-2222"

phone_number = "010-1111-2222"
a = phone_number.replace("-", " ")
a

'010 1111 2222'

In [38]:
# 026
# 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
# a = 010 1111 2222
b = a.replace(" ", "-")
b

'010-1111-2222'

In [39]:
# 027
# url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
# url = "http://sharebook.kr"

url = "http://sharebook.kr"
a = url.split('.')[-1]
a

'kr'

In [43]:
# 028
# 아래 코드의 실행 결과를 예상해보세요.

lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [44]:
# 029
# replace 메서드
# 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [45]:
# 030
# replace 메서드
# 아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [46]:
# 031
# 문자열 합치기
# 아래 코드의 실행 결과를 예상해보세요.

a = "3"
b = "4"
print(a + b)

34

In [47]:
# 032
# 문자열 곱하기
# 아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 3)

HiHiHi

In [48]:
# 033
# 문자열 곱하기
# 화면에 '-'를 80개 출력하세요.

print("-" * 80)

--------------------------------------------------------------------------------

In [51]:
# 034
# 문자열 곱하기
# 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'
t2 = 'java'

# python java python java python java python java

t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
t3 * 4

'python java python java python java python java '

In [53]:
# 035
# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [55]:
# 036
#문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [56]:
# 037
# 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [67]:
# 038
# 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

# 상장주식수 = "5,969,782,550"
# counta=5,969,782,550
# countb=counta.replace(',', ' ')
# countc=int(countb)

# countc

counta = "5,969,782,550"
countb = counta.replace(',', '')  # 쉼표를 빈 문자열로 대체
countc = int(countb)

countc

5969782550

In [68]:
# 039
# 다음과 같은 문자열에서 '2020/03'만 출력하세요.
# 분기 = "2020/03(E) (IFRS연결)"

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [69]:
# 040
# 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
# data = "   삼성전자    "

data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [72]:
# 041 
# 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
# ticker = "btc_krw"

ticker = "btc_krw"
a = ticker.lower()
a

'btc_krw'

In [76]:
# 042
# 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

qqq = 'hello'
a = qqq.upper()
a

'HELLO'

In [84]:
# 043
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.
# file_name = "보고서.xlsx"

file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [85]:
# 044
# 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
# ticker = "btc_krw"

ticker = "btc_krw"
a = ticker.upper()
a

'BTC_KRW'

In [86]:
# 045
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [87]:
# 046
# 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [88]:
# 047
# 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
# a = "hello world"

a = "hello world"
a.split()

['hello', 'world']

In [89]:
# 048
# 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
# ticker = "btc_krw"

ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [90]:
# 049
# 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [95]:
# 050

# 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
# data = "039490     "

data = "039490     "
data = data.rstrip()