In [1]:
# 151. 리스트에는 네 개의 정수가 저장돼 있다.

# 리스트 = [3, -20, -3, 44]
# for문을 사용해서 리스트의 음수를 출력하라.

# -20
# -3
리스트 = [3, -20, -3, 44]

for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [54]:
# 152. for문을 사용해서 3의 배수만을 출력하라.

# 리스트 = [3, 100, 23, 44]
# 3

리스트 = [3, 100, 23, 44]

for i in 리스트:
    if i%3 == 0:
        print(i)

3

In [55]:
# 153. 리스트에서 20 보다 작은 3의 배수를 출력하라

# 리스트 = [13, 21, 12, 14, 30, 18]
# 12
# 18

리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
    if i < 20:
        if i%3 == 0:
            print(i)

12
18

In [57]:
# 154. 리스트에서 세 글자 이상의 문자를 화면에 출력하라

# 리스트 = ["I", "study", "python", "language", "!"]
# study
# python
# language

리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [59]:
# 155. 리스트에서 대문자만 화면에 출력하라.
# (참고) isupper() 메서드는 대문자 여부를 판별합니다

# 리스트 = ["A", "b", "c", "D"]
# A
# D

리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [60]:
# 156. 리스트에서 소문자만 화면에 출력하라.

# 리스트 = ["A", "b", "c", "D"]
# b
# c

리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if not i.isupper():
        print(i)

b
c

In [64]:
# 157. 이름의 첫 글자를 대문자로 변경해서 출력하라.

# 리스트 = ['dog', 'cat', 'parrot']
# Dog
# Cat
# Parrot

리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0].upper()+i[1:])

Dog
Cat
Parrot

In [71]:
# 158. 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

# 리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
# hello
# ex01
# intro

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
    a= i.split('.')
    print(a[0])

hello
ex01
intro

In [9]:
# 159. 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

# 리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

# intra.h
# define.h

In [81]:
# 160. 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

# 리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
# intra.h
# intra.c
# define.h

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    ac = i.split('.')
    if (ac[1] == "h") or (ac[1] == "c"):
        print(ac)

['intra', 'h']
['intra', 'c']
['define', 'h']

In [88]:
# 161. for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

for i in range (1,99,1):
    print(i , end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98

In [92]:
# 162. 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

# 2002
# 2006
# 2010
# ...
# 2042
# 2046
# 2050

for i in range (2002,2050,4):
    print(i, end=' ')

2002 2006 2010 2014 2018 2022 2026 2030 2034 2038 2042 2046

In [95]:
# 163. 1부터 30까지의 숫자 중 3의 배수를 출력하라.

for i in range (3,30,3):
    print(i,end=' ')

3 6 9 12 15 18 21 24 27

In [100]:
# 164. 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

for i in range (99,0,-1):
    print(i, end=' ')

99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [106]:
# 165. for문을 사용해서 아래와 같이 출력하라.

# 0.0
# 0.1
# 0.2
# 0.3
# 0.4
# 0.5
# ...
# 0.9

for i in range (10):
    print(i/10, end= '   ')

0.0   0.1   0.2   0.3   0.4   0.5   0.6   0.7   0.8   0.9

In [110]:
# 166.구구단 3단을 출력하라.

# 3x1 = 3 ... .

for i in range(1, 10) :
    print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27

In [116]:
# 167. 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

# 3x1 = 3
# 3x3 = 9

for i in range(1,10):
    if i*3%2 == 1:
        print('3x',i,'=',i*3)

3x 1 = 3
3x 3 = 9
3x 5 = 15
3x 7 = 21
3x 9 = 27

In [120]:
# 168. 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

합 = 0
for i in range(1,10):
    if i%2== 1:
        합 += i
print(합)

25

In [121]:
# 169. 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

곱 = 1
for i in range(1,10):
    곱 *= i
print(곱)

362880

In [122]:
# 170.

result = 1
for i in range(1, 11) :
    result *= i
print(result)

3628800

In [126]:
# 171. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

# price_list = [32100, 32150, 32000, 32500]
# 32100
# 32150
# 32000
# 32500

price_list = [32100, 32150, 32000, 32500]
for i in range (4):
    print(price_list[i])

32100
32150
32000
32500

In [128]:
# 172. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

# price_list = [32100, 32150, 32000, 32500]
# 0 32100
# 1 32150
# 2 32000
# 3 32500

price_list = [32100, 32150, 32000, 32500]
for i in range (4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [23]:
# 173. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

# price_list = [32100, 32150, 32000, 32500]
# 3 32100
# 2 32150
# 1 32000
# 0 32500

price_list = [32100, 32150, 32000, 32500]
for i in range

In [129]:
# 174. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

# price_list = [32100, 32150, 32000, 32500]
# 100 32150
# 110 32000
# 120 32500

price_list = [32100, 32150, 32000, 32500]

for i in range (1,4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [132]:
# 175. my_list를 아래와 같이 출력하라.

# my_list = ["가", "나", "다", "라"]
# 가 나
# 나 다
# 다 라

my_list = ["가", "나", "다", "라"]

for i in range( 1, len(my_list) ):
  print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [137]:
# 176. 리스트를 아래와 같이 출력하라.

# my_list = ["가", "나", "다", "라", "마"]
# 가 나 다
# 나 다 라
# 다 라 마

my_list = ["가", "나", "다", "라", "마"]

for i in range(1, len(my_list) - 1):
    print(my_list[i-1], my_list[i], my_list[i+1])

가 나 다
나 다 라
다 라 마

In [152]:
# 177. 177
# 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

# my_list = ["가", "나", "다", "라"]
# 라 다
# 다 나
# 나 가

my_list = ["가", "나", "다", "라"]

for i in [3, 2, 1] :
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [153]:
# 178. 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

# my_list = [100, 200, 400, 800]
# 예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 
# 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

my_list = [100, 200, 400, 800]

for i in range(len(my_list) - 1):
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [154]:
# 179. 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(1, len(my_list) - 1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [1]:
# 180. 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, 
# low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

a = []
for i in range(len(low_prices)) :
    a.append(high_prices[i] - low_prices[i])

In [3]:
# 181. 181
# 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

# 101호	102호
# 201호	202호
# 301호	302호

apart = [['101호','102호'],['201호','202호'],['301호','302호']]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [7]:
# 182. 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

# 시가	종가
# 100	80
# 200	210
# 300	330

# stock = [['시가', 100, 200, 300]['종가', 80, 210, 330]]
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [9]:
# 183. 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 
# 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가 역시 key로 저장하고 
# 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

# 시가	종가
# 100	80
# 200	210
# 300	330

stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [10]:
# 184. 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 
# 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

# 10/10	80	110	70	90    ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
# 10/11	210	230	190	200  ㅣ

stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [12]:
# 185.리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [13]:
# 186. 리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 301 호
# 302 호
# 201 호
# 202 호
# 101 호
# 102 호

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1]:
    for j in i:
        print(j, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [14]:
# 187. 리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 302 호
# 301 호
# 202 호
# 201 호
# 102 호
# 101 호

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1]:
    for j in i[::-1]:
        print(j, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [15]:
# 188. 리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# -----
# 102 호
# -----
# 201 호
# -----
# 202 호
# -----
# 301 호
# -----
# 302 호
# -----

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j, "호")
        print("-------")

101 호
-------
102 호
-------
201 호
-------
202 호
-------
301 호
-------
302 호
-------

In [18]:
# 189. 리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# -----
# 201 호
# 202 호
# -----
# 301 호
# 302 호
# -----

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j, "호")
    print("-------")

101 호
102 호
-------
201 호
202 호
-------
301 호
302 호
-------

In [21]:
# 190. data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

# data = [
#     [ 2000,  3050,  2050,  1980],
#     [ 7500,  2050,  2050,  1980],
#     [15450, 15050, 15550, 14900]
# ]

# 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
      for j in i:
        print(f'{j * 1.00014:.2f}')

2000.28
3050.43
2050.29
1980.28
7501.05
2050.29
2050.29
1980.28
15452.16
15052.11
15552.18
14902.09

In [3]:
# 191. 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]]

for line in data:
    for column in line:
        print(column * 1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [8]:
# 193.192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

result = []
for line in data:
    for column in line:
        result.append(column * 1.00014,)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [9]:
# 194. 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 
# 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [11]:
# 195. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    print(row[3])

100
190
310

In [12]:
# 196. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 종가가 150원보다 큰경우에만 종가를 출력하라.

for row in ohlc[1:]:
    if (row[3] > 150):
        print(row[3])

190
310

In [13]:
# 197. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if (row[3] >= row[0]):
        print(row[3])

100
310

In [15]:
# 198. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []
for row in ohlc[1:]:
    volatility.append(row[1]-row[2])

In [16]:
# 199. 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1]-row[2])

10

In [17]:
# 200. 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

profit = 0
for row in ohlc[1:]:
    profit += (row[3] - row[0])