In [4]:
# 0051
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 
# 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

# 닥터스트레인지 스플릿 럭키

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [5]:
# 0052
# movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("베트맨")

movie_rank

['닥터 스트레인지', '스플릿', '럭키', '베트맨']

In [6]:
# 0053

# movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
# movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [8]:
# 0054
# movie_rank 리스트에서 '럭키'를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove("럭키")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [9]:
# 0055
# movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove("스플릿")
movie_rank.remove("배트맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '럭키']

In [10]:
# 0056 
# lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang3 = lang1 + lang2
lang3

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [15]:
# 0057
# 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]

max(nums)
min(nums)

1

In [16]:
# 0058
# 다음 리스트의 합을 출력하라.

nums = [1, 2, 3, 4, 5]
a = sum(nums)
a

15

In [17]:
# 0059
# 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [18]:
# 0060
# 다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]
sum(nums)/len(nums)

3.0

In [23]:
# 0061
# price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [22]:
# 0062
# 슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [25]:
# 0063
# 슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [26]:
# 0064
# 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [27]:
# 0065
# interest = ['삼성전자', 'LG전자', 'Naver']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [30]:
# 0066
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# 출력 예시: 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [32]:
# 0067
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# 출력 예시: 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [34]:
# 0068
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

# # 출력 예시:
# 삼성전자
# LG전자
# Naver
# SK하이닉스
# 미래에셋대우

print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [36]:
# 0069
# string = "삼성전자/LG전자/Naver" 이를 interest 이름의 리스트로 분리 저장하라.

string = "삼성전자/LG전자/Naver"

# 실행 예시
# >> print(interest)
# ['삼성전자', 'LG전자', 'Naver']

a = string.split("/")
a

['삼성전자', 'LG전자', 'Naver']

In [37]:
# 0070
# 리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [39]:
# 0071
# my_variable 이름의 비어있는 튜플을 만들라.

my_variable = ()
type(my_variable)

tuple

In [40]:
# 0072
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 
# 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)
# 1 닥터 스트레인지
# 2 스플릿
# 3 럭키

movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [42]:
# 0073
number = (1)
int(number)

1

In [ ]:
# 0074
# 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

# t = (1, 2, 3)
# t[0] = 'a'
#Traceback (most recent call last):
#  File "<pyshell#46>", line 1, in <module>
#    t[0] = 'a'
# TypeError: 'tuple' object does not support item assignment

# t[0]의 기존 값 1을 a로 변경하려 함

In [ ]:
# 0075
# 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

# t = 1, 2, 3, 4

# 이게 무슨말인지 이해를 못했음. int 형을 말하는건가 ?

In [44]:
# 0076
# 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')

# 튜플 은 수정이 불가능해 변수 t를 다시 부여함

t = ('A', 'B', 'C')
t

('A', 'B', 'C')

In [47]:
# 0077
# 다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')
a=list(interest)
a

['삼성전자', 'LG전자', 'SK Hynix']

In [48]:
# 0078
#다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']
a=tuple(interest)
a

('삼성전자', 'LG전자', 'SK Hynix')

In [49]:
# 0079
# 다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [52]:
# 0081
# 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.
# (2, 4, 6, 8 ... 98)

a=tuple(range(2,100,2))
print(a, end=' ')

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [61]:
# 0082
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, a,b = scores
valid_score

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [62]:
# 0083
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, 
# start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b,*valid_score, = scores
valid_score

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [65]:
# 0084
# temp 이름의 비어있는 딕셔너리를 만들라.
temp = { }

In [66]:
# 0085
# 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.
# 이름	희망 가격
# 메로나	1000
# 폴라포	1200
# 빵빠레	1800

a={'메로나':1000, '폴라포':1200, '빵빠레':1800}
a

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [72]:
# 0086
# 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

# 이름	희망 가격
# 죠스바	1200
# 월드콘	1500

a={'메로나':1000, '폴라포':1200, '빵빠레':1800}
a['죠스바']=1200
a['월드콘']=1500
a

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [74]:
# 0087
# 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

# 실행 예:메로나 가격: 1000

print("메로나 가격:",ice["메로나"])

메로나 가격: 1000

In [75]:
# 0088
# 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice["메로나"] = 1300
ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [76]:
# 0089
# 다음 딕셔너리에서 메로나를 삭제하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice["메로나"]
ice

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 0090
# 다음 코드에서 에러가 발생한 원인을 설명하라.

# >> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# >> icecream['누가바']
# Traceback (most recent call last):
#   File "<pyshell#69>", line 1, in <module>
#     icecream['누가바']
# KeyError: '누가바'

# 누가바는 없는 데이터

In [77]:
# 0091
# 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

# 이름	가격	재고
# 메로나	300	20
# 비비빅	400	3
# 죠스바	250	100

inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [80]:
# 0092

# 딕셔너리에서 메로나의 가격을 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

# 실행 예시: 300 원

print(inventory['메로나'][0],"원")

300 원

In [81]:
# 0093
# inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

# 실행 예시:  20 개

print(inventory['메로나'][1],"개")

20 개

In [83]:
# 0094
# inventory 딕셔너리에 아래 데이터를 추가하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

# 이름	가격	재고
# 월드콘	500	7
# 실행 예시: >> print(inventory)
# {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [85]:
# 0095
# 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
a = list(icecream.keys())
a

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [86]:
# 0096
# 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
a = list(icecream.values())
a

[1200, 1200, 1800, 1500, 1000]

In [88]:
# 0097
# icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
a = sum(icecream.values())
a

6700

In [92]:
# 0098
# 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
# 실행 예시: print(icecream)
# {'탱크보이': 1200,  '폴라포': 1200,  '빵빠레': 1800,  '월드콘': 1500,  '메로나': 1000,  '팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream, end=' ')

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [93]:
# 0099
# 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

# 실행 예시: print(result)
# {'apple': 300, 'pear': 250, 'peach': 400}

total = dict(zip(keys, vals))
total

{'apple': 300, 'pear': 250, 'peach': 400}

In [95]:
# 0100
# date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

# 실행 예시: print(close_table)
# {'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

total = dict(zip(date, close_price))
print(total, end=" ")

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}